/* Untitled Goose Game - MOBILE Layout
------------------------
Note: I've made a bunch of selectors for you in this stylesheet. You won't necessarily use all of them and there might be some new ones that you'll need to add on your own. */

/* COLORS
------------------------
Dark Blue: #3D6BD5; 
Dark Grey: #A5A5A5;
Light Grey: #E9E9E9;
Red: #E20013;
------------------------*/

body {
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
   max-width: 100%;
   height: auto;
}



/* Nintendo Top Navigation
------------------------------------------ */
header {
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #e20013;
   padding-bottom: 1rem;
}

header nav ul {
   display: flex;
   justify-content: space-between;
   list-style-type: none;
}

header nav a {
   text-decoration: none;
   padding: 1rem;
   color: white;
}


/* Hero Image
------------------------------------------ */
section.hero-image {

}

section.hero-image img {

}





/* Game Name & Price
------------------------------------------ */
/* ⬇ Container for name, price, and buy buttons */
section.game {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
   padding: 1rem;
}

/* ⬇ Both the h1 and h2 */
.game-title {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* ⬇ Untitled Goose Game */
.game-title h1 {
   font-size: 225%;
   margin-bottom: 0;
}

/* ⬇ Available Now */
.game-title h2 {
   font-weight: normal;
   color: #a5a5a5;
   margin-top: 0;
}

/* ⬇ Price of the game */
p.price {
   text-align: center;
   margin-top: 1rem;
   font-size: 150%;
   font-weight: bold;
}

/* ⬇ Container for buy buttons */
div.buy {
   
}

div.options ul {
   display: flex;
}

/* ⬇ List with buy buttons */
div.buy li {
   list-style-type: none;
   margin: 0 3rem;
}

/* ⬇ Buy Digital & Buy Physical links */
div.buy a {
   text-decoration: none;
   background-color: #e20013;
   color: white;
   display: block;
   border: 2px solid #a5a5a5;
   padding: 1rem;
   border-radius: 1.5rem;
}

div.buy a:hover {

}




/* Screen Shots
------------------------------------------ */
/* ⬇ Container area for screen shots */
section.screen-shots {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-gap: 1rem;
   background-color: #3d6bd5;
   padding: 1rem;
}

/* ⬇ Selects an individual image */
section.screen-shots img:nth-child(3) {
   grid-row: 1/3;
   grid-column: 1/3;
}

/* ⬇ Affects all screen shot images */
section.screen-shots img {
   border: 2px solid #a5a5a5;
}




/* Game Information
------------------------------------------ */
/* ⬇ Contains DESCRIPTION, GOOSE-BADGE, and PLAY-MODES */
main {
   max-width: 480px;
   margin: 0 auto;
   display: grid;
   grid-template-columns: 1fr 1fr;
   justify-content: center;
   align-items: center;
   grid-gap: 2rem;
}



/* Description
------------------------------------------ */

/* ⬇ Container for game description info */
section.description {
   grid-column: 1/3;
   margin: auto;
}

/* ⬇ It's a lovely day in the village */
section.description h2 {
   font-weight: bold;
   margin-bottom: 1rem;
   font-size: 125%;
}

/* ⬇ Featuring */
section.description h3 {
   font-weight: bold;
   font-size: 125%;
}

/* ⬇ List of features */
section.description li {
   max-width: 400px;
   line-height: 1.5;
   list-style-position: inside;
   padding-left: 1.5rem;
}




/* Goose Badge Image
------------------------------------------ */
/* ⬇ Goose in yellow badge */
img.goose-badge {
   grid-column: 1/3;
   margin: auto;
}




/* Play Modes
------------------------------------------ */
/* ⬇ Container for play modes area */
section.play-modes {
   grid-column: 1/3;
   grid-row: 1;
}

/* ⬇ Play Modes title */
section.play-modes h2 {
   text-align: center;
   font-weight: bold;
   font-size: 125%;
}

/* ⬇ Play mode icon images */
section.play-modes img {
   
}



/* Footer
------------------------------------------ */
footer {
   background-color: #3D6BD5;
   padding: 2rem;
   color: #e9e9e9;
   margin-top: 2rem;
   text-align: center;
}